
{% extends "base.html" %}

{% block content %}
<div>
    <div>
        <div>
            <h3>Edit list:</h3>
           <h2> {{ todo_list.title | upper }}</h2>
        </div>
        <ul>
            {% for todo in object_list %}
            <li><table border=1 style=color:blue;>
                <tr><th>  
                    <div 
                        role="button"
                        onclick="location.href='{% url "item-update" todo_list.id todo.id %}'">
                        {{forloop.counter}} {{ todo.title }}
                        (Due {{ todo.due_date | date:"l, F j" }})
                        <input type="button" value="update item">
                    </div>
                </tr></th></table>
            </li>
            {% empty %}
            <p>There are no to-do items in this list.</p>
            {% endfor %}
        </ul>
        <p>
            <input
                value="Add a new item"
                type="button"
                onclick="location.href=
                '{% url "item-add" todo_list.id %}'" />
            <input
                value="Delete this list"
                type="button"
                onclick="location.href=
                '{% url "list-delete" todo_list.id %}'" />
        </p>
    </div>
</div>
{% endblock %}