<html>
    <head>
        <meta charset="UTF-8">
        <title>
            amazon product updateproduct page
        </title>
    </head>
    <body bgcolor="pink">
        <center>
            <form action ='' method="post">
                <table>
                <tr><td>Enter the productid</td><td><input type="text" name="t1" placeholder="productid"></td></tr>
                <tr><td>Enter the productname</tr><td><input type="text" name="t2" placeholder="productname"></tr><td>
                <tr><td>Enter the productcost</tr><td><input type="number" name="t3" placeholder="productcost"></tr><td>
                <tr><td>Enter the productmfdt</tr><td><input type="date" name="t4" placeholder="productmfdt"></tr><td>
                <tr><td>Enter the productexpdt</tr><td><input type="date" name="t5" placeholder="productexpdt"></tr><td>
                </table>
            </form>

        </center>
      
    </body>
    </html>
    