<html>
    <head>
        <title>
            login page 
        </title>
    </head>
    <body bgcolor="red" text-align="center">
      
        <form action='register' method='get'>
            <center><h1> <table border='1px solid;'>
        Enter the first name:   <input type="text" name="t1"><br>
        enter the last name:    <input type="text" name="t2"><br>
        enter the email address:<input type="text" name="t3"><br>
        enter the password:     <input type="password"name="t4"><br>
        Enter the conf-password:<input type="password"name="t5"><br>
            <input type="submit" name="insert" value="insert"></table></center><h1>
        </form>
    
</body> +
</html>
